* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
.hafta_kuni{
    display: flex;
    align-items: center;
    gap: 30px;
 border-radius: 5px;
    border: 2px solid rgb(122, 114, 114);
    width: 400px;
    padding: 2px
    
}
.text{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(240, 31, 31);
}
.Namozlar{
    color: brown;
}
.Date{
    display: flex;
   flex-direction: column;
   align-items: flex-start;
   
   
    
}

.Date input{
    margin-bottom: 10px;
  color: rgb(5, 64, 45);
}

