* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
.hafta_kuni{
    display: flex;
    align-items: center;
    gap: 30px;

    border: 2px solid rgb(25, 24, 24);
    width: 350px;
 
}
.Date{
    display: flex;
   flex-direction: column;
   align-items: flex-start;
   
    
}

.Date input{
    margin-bottom: 10px;
}
